@import '../mixins/utils.scss';

.auth-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    &__form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        width: 400px;

        @include tablets {
            width: 300px;
        }
    
        &__title {
            margin-bottom: 20px;
        }
    }
}