$primary-text-color: #000000;
$secondary-text-color: #FFFFFF;

$primary-background-color: #17181c;
$secondary-background-color: lighten(#17181c, 5);

$primary-focus-color: lighten(#17181c, 24);
$secondary-focus-background: lighten(#17181c, 40);

$primary-form-background: #17181c;

$primary-button-background: #6708E0;

$primary-link-color: #FF04B9;